@import "../../../CoolBooking/0-assets/scss/mixin.scss";
@import "../../../CoolBooking/0-assets/scss/variables.scss";
@import "/2-page2/page2.css";
@import "/3-page3/page3.css";
@import "/4-page4/page4.css";

* {
  margin: 0;
  padding: 0;
}

/*Structure de page*/
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(https://res.cloudinary.com/dwkyezu2u/image/upload/v1744473403/fond_mpy7ek.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  background-color: #ffffff;
  height: 15%;
  width: 100%;
  overflow: hidden;
}

.box1 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  width: 50%;
}

.box2 {
  display: flex;
  height: 100%;
  width: 50%;
  justify-content: end;
  align-items: end;
  justify-content: end;
}

main {
  display: flex;
  height: 75%;
  width: 100%;
  background-color: rgba(148, 111, 93, 0.5019607843);
  flex-direction: column;
  overflow: hidden;
}

footer {
  display: flex;
  height: 10%;
  width: 100%;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  gap: 40px;
  overflow: hidden;
}

/*Polices*/
h1 {
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

h3 {
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

h5 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;

  /*Eléments texte de la page*/
}

.title1 {
  color: #7b5c4d;
  font-size: 25px;
  padding-left: 20px;
}

.st {
  color: #7b5c4d;
  font-size: 15px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.p1 {
  color: #ffffff;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6352941176));
  font-size: 40px;
  padding-right: 110px;
}

.p2 {
  color: #ffffff;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6352941176));
  font-size: 32px;
  padding-left: 180px;
}

.textf {
  font-size: 15px;
  color: #7b5c4d;
}

a {
  color: inherit;
  text-decoration: none;
}
