@import "./global.scss";

.box3 {
  * {
    margin: 0;
    padding: 0;
  }
  display: flex;
  height: 50%;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;

  .title2 {
    color: #ffffff;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6352941176));
    font-size: 50px;
    margin-right: 400px;
    margin-top: 90px;
  }
  .p1 {
    margin-right: 160px;
  }
}

.box4 {
  * {
    margin: 0;
    padding: 0;
  }
  gap: 20px;
  display: flex;
  height: 50%;
  width: 100%;
  flex-direction: column;
}
.p2 {
  margin-left: 200px;
  margin-top: 100px;
  text-align: left;
}

/*Boutons de la page*/
.btn1 {
  @include btnmarron;
  width: 450px;
  margin-bottom: 20px;
  margin-right: 100px;
}

.btn2 {
  @include btnblanc;
  width: 550px;
  margin-left: 200px;
}

/*Media Queries*/

@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15%;
    width: 100vw;

    .box1 {
      display: flex;
      width: 100vw;
      height: 50%;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
    }
    .box2 {
      display: flex;

      height: 50%;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
    }
  }

  main {
    height: 75%;
    width: 100vw;
    background-color: rgba(148, 111, 93, 0.596);
    margin: 0;
    padding: 0;
  }
  footer {
    height: 10%;
    width: 100vw;
  }
  .btn1 {
    margin: 0;
    padding: 0;
    width: 400px;
    font-size: 23px;
    height: 40px;
    margin-bottom: 10px;
  }

  .btn3 {
    width: 120px;
    height: 40px;
    font-size: 20px;
    align-items: center;
  }
  .title1 {
    font-size: 25px;
    text-align: center;
  }
  .title2,
  .st {
    display: none;
  }

  .box3 {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40%;
    width: 100vw;
    padding: 0;
    margin: 0;

    .p1 {
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: 37px;
      line-height: 50px;
    }
  }

  .box4 {
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    height: 60%;
    align-items: center;
    .btn2 {
      width: 450px;
      font-size: 25px;
      height: 65px;
      margin: 0;
      padding: 0;
    }
    .p2 {
      text-align: center;
      font-size: 30px;
      line-height: 50px;
      margin: 0;
      padding: 0;
      margin-bottom: 60px;
    }
  }
}

@media (max-width: 425px) {
  body {
    margin: 0;
    padding: 0;

    .btn1 {
      width: 350px;
      font-size: 20px;
      height: 40px;
      margin-bottom: 10px;
    }

    .btn3 {
      margin: 0;
      padding: 0;
      width: 110px;
      height: 40px;
      font-size: 20px;
      align-items: center;
    }
    .title1 {
      font-size: 20px;
    }
    .title2,
    .st,
    .textf {
      display: none;
    }

    .box1 {
      width: 100vw;
      height: 60%;
      align-items: center;
      margin: 0;
      padding: 0;
    }
    .box2 {
      width: 100vw;
      height: 40%;
      justify-content: center;
      margin: 0;
      padding: 0;
    }
    .box3 {
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 50%;
      align-items: center;

      .p1 {
        text-align: center;
        font-size: 25px;
        line-height: 40px;
        margin: 0;
        padding: 0;
      }
    }
    .box4 {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      width: 100vw;
      height: 50%;
      align-items: center;
      margin-top: 20px;
      .btn2 {
        width: 350px;
        height: 60px;
        font-size: 20px;
        padding: 0;
      }
      .p2 {
        text-align: center;
        font-size: 25px;
        line-height: 40px;
        margin-bottom: 100px;
      }
    }
  }
}
@media (max-width: 320px) {
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;

    header {
      height: 15%;
      width: 100vw;
      .title1 {
        text-align: center;
        padding: 0;
        margin: 0;
      }
      .btn1 {
        width: 250px;
        font-size: 15px;
        height: 40px;
        margin-bottom: 10px;
      }
    }
    main {
      height: 75%;
      width: 100vw;
      .box3 {
        height: 50%;
        width: 100vw;
        padding: 0;
        margin: 0;

        .p1 {
          text-align: center;
          font-size: 25px;
          line-height: 40px;
          padding: 0;
          margin: 0;
        }
      }
      .box4 {
        height: 50%;
        width: 100vw;
        padding: 0;
        margin: 0;
        .btn2 {
          width: 280px;
          height: 40px;
          font-size: 15px;
          padding: 0;
          margin: 0;
        }
        .p2 {
          text-align: center;
          font-size: 25px;
          line-height: 40px;
        }
      }
    }

    .btn3 {
      margin: 0;
      padding: 0;
      width: 100px;
      height: 35px;
      font-size: 17px;
      align-items: center;
    }
  }
}
