@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Boldonse&family=Jockey+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

/*Structure de page*/
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(https://res.cloudinary.com/dwkyezu2u/image/upload/v1744473403/fond_mpy7ek.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  background-color: #ffffff;
  height: 15%;
  width: 100%;
  overflow: hidden;
}

.box1 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  width: 50%;
}

.box2 {
  display: flex;
  height: 100%;
  width: 50%;
  justify-content: end;
  align-items: end;
  justify-content: end;
}

main {
  display: flex;
  height: 75%;
  width: 100%;
  background-color: rgba(148, 111, 93, 0.5019607843);
  flex-direction: column;
  overflow: hidden;
}

footer {
  display: flex;
  height: 10%;
  width: 100%;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  gap: 40px;
  overflow: hidden;
}

/*Polices*/
h1 {
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

h3 {
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

h5 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  /*Eléments texte de la page*/
}

.title1 {
  color: #7b5c4d;
  font-size: 25px;
  padding-left: 20px;
}

.st {
  color: #7b5c4d;
  font-size: 15px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.p1 {
  color: #ffffff;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6352941176));
  font-size: 40px;
  padding-right: 110px;
}

.p2 {
  color: #ffffff;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6352941176));
  font-size: 32px;
  padding-left: 180px;
}

.textf {
  font-size: 15px;
  color: #7b5c4d;
}

a {
  color: inherit;
  text-decoration: none;
}

.box3 {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 30px;
}

.box4 {
  display: flex;
  height: 100%;
  width: 100%;
  line-height: 40px;
  flex-direction: column;
  gap: 15px;
  justify-content: end;
}

.title1 {
  color: #7b5c4d;
  font-size: 25px;
  padding-left: 20px;
}

.st {
  color: #7b5c4d;
  font-size: 15px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.title2 {
  color: #ffffff;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6352941176));
  font-size: 50px;
  padding-right: 350px;
}

.p1 {
  color: #ffffff;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6352941176));
  font-size: 40px;
  padding-right: 110px;
}

.p2 {
  color: #ffffff;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6352941176));
  font-size: 32px;
  padding-left: 180px;
}

.textf {
  font-size: 15px;
  color: #7b5c4d;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn3 {
  width: 200px;
  height: 50px;
  background-color: #946f5d;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  font-size: 25px;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 160px;
  padding: 0;
}
.btn3:hover {
  background-color: #644739;
  cursor: pointer;
}

.btn1 {
  width: 200px;
  height: 50px;
  background-color: #946f5d;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  font-size: 25px;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 160px;
  margin-right: 100px;
  margin-bottom: 10px;
  padding: 0;
}
.btn1:hover {
  background-color: #644739;
  cursor: pointer;
}

main {
  flex-direction: row;
  background-color: rgba(148, 111, 93, 0.8470588235);
  align-items: center;
}
main .p1 {
  font-size: 35px;
  margin-top: 40px;
  margin-left: 100px;
}
main .box3 {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-items: end;
}
main .box4 {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
main .box4 input,
main .box4 button {
  display: flex;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: #7b5c4d;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  height: 40px;
  transition: background-color 0.3s ease;
}
main .box4 input:hover,
main .box4 button:hover {
  background-color: #cccccc;
  cursor: pointer;
}

button {
  width: 200px;
  display: flex;
  justify-content: center;
}

input {
  width: 500px;
  padding-left: 20px;
}

form {
  margin-right: 200px;
  margin-bottom: 100px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: end;
}

#Locataire,
#Propriétaire {
  height: 25px;
}

.checkboxes {
  display: flex;
  margin-right: 350px;
}

.checkbox1,
.checkbox2 {
  margin-top: 100px;
  margin-bottom: 10px;
  align-items: center;
  width: 200px;
  display: flex;
  flex-direction: row-reverse;
  color: #ffffff;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.6352941176));
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  gap: 20px;
}

::-moz-placeholder {
  color: #7b5c4d;
  opacity: 1;
}

::placeholder {
  color: #7b5c4d;
  opacity: 1;
}

.image {
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  margin-right: 190px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.image:hover {
  transform: scale(1.1);
}

p {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.6352941176));
  margin-right: 200px;
}