// Couleurs
$primary-color: #946f5d;
$secondary-color: #7b5c4d;
$police-color1: #ffffff;

$back-color1: #946f5d98;
$back-color2: #946f5dd8;

// // Tailles
// $font-size-small: 12px;
// $font-size-medium: 16px;
// $font-size-large: 24px;

// // Polices
// $font-family-main: "Arial", sans-serif;
// $font-family-accent: "Georgia", serif;

// // Marges et espacements
// $padding-small: 5px;
// $padding-large: 20px;
// $margin-medium: 15px;

// // Breakpoints pour responsive design
// $breakpoint-mobile: 576px;
// $breakpoint-tablet: 768px;
// $breakpoint-desktop: 1200px;
